.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
2012Tracks.qlr
2015_05Anems.qlr
Burn_translating_tute.R
Database-Creation
Good_db_tute.R
Hilary Parker Package Creation
Project Template Tutorial
SST
Test.sqlite
Test1.sqlite
Using Vign to Analyze data
data.zip
database_tute.R
dplyr_tut
futureProjects.R
listofextracts.csv
randomCal.R
repTasks.R
yes.pub
yes
2016-03-28_anem_concat.csv
FromPITReader.R
TODO
anem_concat.R
cervus_identitystats_2016-01-07.R
createfishdb.R
database_tute copy.R
forlooptutorial.R
genotype_investigation.R
id_analysis.R
mega_match_dist_calc.R
regenotyped.R
tiny_id.R
tutorial.R
